*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}
a{
    color: unset;
    text-decoration: none;
}
input{
    outline: none;
    font-size: 18px;
    width: 100%;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
.navbar{
    width: 100%;
    padding: 20px 10px;
    background-color: #FF1D58;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.navbar h2{
    color: #FFF685;
    width: fit-content;
    padding: 2px;
}
.brand-first-half{
    margin-right: 2px;
}
.brand-last-half{
    background-color: #000000;
    color: #FD0102;

}
.navbar button{
    background-color:transparent;
    color:#FFF685;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.albums-list{
    width: 70%;
    margin: auto;
    padding-top: 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list{
    width: 310px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom:5px ;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list h3{
    text-align: center;
    text-transform: capitalize;
}
.button-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.update-btn{
    background-color: rgb(27, 210, 247);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 254, 254);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.update-btn:hover{
    background-color: white;
    color:rgb(27, 210, 247);
    border: 2px solid rgb(27, 210, 247);
}
.delete-btn{
    cursor: pointer;
    border: 0px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
}
.delete-btn:hover{
    color:red;
    border: 2px solid red;
    background-color:white;
}

.update-album{
    width: 350px;
    margin: auto;
    padding-top: 73px;
    color: white;
}
.form-container{
    background-color: #478AC9;
    padding: 10px;
    margin-top: 50px;
}
.inp-container{
    margin: 10px;
}
.form-container button{
    background-color: green;
    padding: 10px 20px;
    color: white;
}
.addalbum-container{
    color: white;
    padding-top: 73px;
    width: 350px;
    margin: auto;
}
.addalbum-form{
    padding: 10px;
    background-color: #ffffff;
    margin-top: 50px;
    color: #000000;
    border: 2px solid black;
}
.addalbum-form button{
    border: 2px solid rgb(43, 128, 255);;
    padding: 10px 20px;
    color: rgb(43, 128, 255);
    border-radius: 5px;
}
.addalbum-form button:hover{
    border: 2px solid rgb(43, 128, 255);;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 128, 255);
    border-radius: 5px;
}
